<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div class="image-container img img-responsive text-center" id="image-container">
    </div>
    <div class="btn-container text-center mt-2">
      <div class="left-btn">

        <button type="submit" class="btn btn-primary btn-cntrl" id="add-btn" name="add-btn">Add to library</button>
    </div>
    <div class="right-btn">
      <form  method="post">
        <button class="btn btn-danger btn-cntrl" type="button" id="nxt-btn" name="nxt-btn">Next</button>
      </form>
    </div>
  </div>


  <script src="../../api-request.js" charset="utf-8"></script>
</body>
</html>
