<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="jumbotron text-center">
    <div class="container img img-responsive">

    </div>
    <button type="button" class="btn btn-primary" id="add-btn" name="add-btn">Add to library</button>
    <button type="button" class="btn btn-danger" id="nxt-btn" name="nxt-btn">Next</button>
  </div>

</body>
</html>
